@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, p{
    color: white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

/* .tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
  